<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294814530429-1ui8hfonhji6q73v4u84r8gnj78jrglu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294814530429-1ui8hfonhji6q73v4u84r8gnj78jrglu</string>
	<key>API_KEY</key>
	<string>AIzaSyAjZbd2Fhi_WgIBWjzsJ_-Lz_tlythnnt8</string>
	<key>GCM_SENDER_ID</key>
	<string>294814530429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tr.ibb.gov.TiklaMarket</string>
	<key>PROJECT_ID</key>
	<string>tiklamarket-43523</string>
	<key>STORAGE_BUCKET</key>
	<string>tiklamarket-43523.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294814530429:ios:9ce85c98b4d3ee5a61aa14</string>
</dict>
</plist>